$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$font-stack: Arial, Helvetica, sans-serif;

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333333;
  } @else {
    @return #ffffff;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
